@import "tailwindcss";

:root {
  /* Background colors for gradient */
  --background-gradient-1: oklch(0.2088 0.0988 271.67);
  --background-gradient-2: oklch(0.1889 0.087 275.96);
  --background-gradient-3: oklch(0.1463 0.0559 298.52);

  /* Buttons colors for gradient */
  --btn-gradient-1: oklch(0.7813 0.1562 317.26);
  --btn-gradient-2: oklch(0.7824 0.1213 222.46);

  --foreground: oklch(1 0 129.63);

  /* Purple tones */
  --bright-purple: oklch(60.816% 0.27519 306.708);
  --light-purple: oklch(0.4468 0.2282 304.02);
  --hover-purple: oklch(50.281% 0.2557 303.899);
  --shadow-purple: oklch(0.3589 0.1953 304.02);

  /* Blue tones */
  --light-blue: oklch(72.883% 0.1358 252.731);
  --medium-blue: oklch(0.5558 0.2141 269.02);
  --shadow-blue: oklch(0.4517 0.2153 275.85);

  --box-fill: oklch(0.6843 0.1083 222.73 / 5%);
  --captcha-fill: oklch(0.7824 0.1213 222.46 / 15%);
  --stroke: oklch(0.7824 0.1213 222.46);

  /* Font colors */
  --font-dark: oklch(0.1517 0.0548 298.37);
  --font-light: oklch(95.514% 0.00011 271.152);
  --font-medium: oklch(79.837% 0.00009 271.152);

  /* Gray tones */
  --light-gray: oklch(65.004% 0.00007 271.152);

  /* Utility colors */
  --online-user: oklch(0.8693 0.1716 128.44);
  --ranking: oklch(0.8007 0.1675 75.56);
  --success: oklch(0.4659 0.1003 145.59);
  --error: oklch(0.5134 0.1504 24.88);
}

@theme {
  --color-background: var(--background-gradient-3);
  --color-foreground: var(--foreground);

  --color-bright-purple: var(--bright-purple);
  --color-light-purple: var(--light-purple);
  --color-shadow-purple: var(--shadow-purple);
  --color-hover-purple: var(--hover-purple);

  --color-font: var(--font-light);
  --color-subtitle: var(--font-medium);

  --color-light-gray: var(--light-gray);

  --color-light-blue: var(--light-blue);
  --color-medium-blue: var(--medium-blue);
  --color-shadow-blue: var(--shadow-blue);

  --color-success: var(--success);
  --color-error: var(--error);

  --font-sans: var(--font-raleway);
}

/* Clases de utilidad */

/* Miscelaneo */
.glass-box-one {
  @apply p-10 border-2 bg-white/7 backdrop-blur-md border-light-gray rounded-xl;
}

/* Gradientes */
.bg-gradient-one {
  @apply bg-radial from-[var(--background-gradient-1)] from-0% via-[var(--background-gradient-2)] 
    via-[7%] to-[var(--background-gradient-3)] to-[63%];
}

.btn-gradient-one {
  @apply bg-linear-to-r from-[var(--btn-gradient-1)] from-5% to-[var(--btn-gradient-2)];
}

body {
  @apply text-foreground font-sans antialiased;
}

/* Animaciones para el rock, paper, scissors */

/* @keyframes changeColorWinner {
  from {
    color: var(--color-slate-800);
  }

  to {
    color: var(--color-emerald-700);
  }
}
@keyframes damageEffect {
  from {
    color: var(--color-slate-200);
  }

  to {
    color: var(--color-rose-800);
  }
} */

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
