@import "tailwindcss";

:root {
  /* Background colors for gradient */
  --background-gradient-1: oklch(0.2088 0.0988 271.67);
  --background-gradient-2: oklch(0.1889 0.087 275.96);
  --background-gradient-3: oklch(0.1463 0.0559 298.52);

  /* Buttons colors for gradient */
  --btn-gradient-1: oklch(0.7813 0.1562 317.26);
  --btn-gradient-2: oklch(0.7824 0.1213 222.46);

  --foreground: oklch(1 0 129.63);

  /* Purple tones */
  --bright-purple: oklch(60.816% 0.27519 306.708);
  --light-purple: oklch(0.4468 0.2282 304.02);
  --transparent-purple: oklch(18.275% 0.09027 307.347 / 0.534);
  --hover-purple: oklch(50.281% 0.2557 303.899);
  --shadow-purple: oklch(0.3589 0.1953 304.02);

  /* Blue tones */
  --light-blue: oklch(72.883% 0.1358 252.731);
  --medium-blue: oklch(0.5558 0.2141 269.02);
  --transparent-blue: oklch(15.861% 0.06714 265.068 / 0.678);
  --shadow-blue: oklch(0.4517 0.2153 275.85);
  --dark-blue: oklch(34.988% 0.13955 279.494);

  --box-fill: oklch(0.6843 0.1083 222.73 / 5%);
  --captcha-fill: oklch(0.7824 0.1213 222.46 / 15%);
  --stroke: oklch(0.7824 0.1213 222.46);

  /* Font colors */
  --font-dark: oklch(0.1517 0.0548 298.37);
  --font-light: oklch(95.514% 0.00011 271.152);
  --font-medium: oklch(79.837% 0.00009 271.152);

  /* Gray tones */
  --light-gray: oklch(65.004% 0.00007 271.152);
  --dark-gray: oklch(42.393% 0.00005 271.152);
  --shadow-gray: oklch(32.109% 0.00004 271.152);
  --transparent-gray: oklch(42.393% 0.00005 271.152 / 0.288);

  /* Bronze tones */
  --light-bronze: oklch(70.532% 0.07578 43.223);
  --bronze: oklch(52.31% 0.06732 43.218);
  --dark-bronze: oklch(35.464% 0.06336 43.82);
  --transparent-bronze: oklch(28.93% 0.05659 44.343 / 0.322);

  /* Utility colors */
  --online-user: oklch(0.8693 0.1716 128.44);
  --ranking: oklch(81.221% 0.13758 83.506);
  --transparent-ranking: oklch(42.892% 0.07683 82.751 / 0.445);
  --medium-ranking: oklch(79.07% 0.15253 81.243);
  --shadow-ranking: oklch(66.329% 0.13566 78.165);

  /* Success tones */
  --light-success: oklch(81.093% 0.16614 145.614);
  --success: oklch(70.071% 0.16051 145.321);
  --shadow-success: oklch(53.712% 0.13105 145.294);
  --dark-success: oklch(39.65% 0.08657 147.461);
  --transparent-success: oklch(65.081% 0.15962 145.321 / 0.205);

  /* Error tones */
  --light-error: oklch(65.081% 0.15962 23.426);
  --error: oklch(0.5134 0.1504 24.88);
  --shadow-error: oklch(43.462% 0.14204 26.215);
  --dark-error: oklch(23.903% 0.07386 24.652);
  --transparent-error: oklch(43.462% 0.14204 26.215 / 0.205);
}

@theme {
  --color-background: var(--background-gradient-3);
  --color-foreground: var(--foreground);

  --color-bright-purple: var(--bright-purple);
  --color-light-purple: var(--light-purple);
  --color-transparent-purple: var(--transparent-purple);
  --color-shadow-purple: var(--shadow-purple);
  --color-hover-purple: var(--hover-purple);

  --color-font: var(--font-light);
  --color-subtitle: var(--font-medium);

  --color-light-gray: var(--light-gray);
  --color-dark-gray: var(--dark-gray);
  --color-shadow-gray: var(--shadow-gray);
  --color-transparent-gray: var(--transparent-gray);

  --color-light-bronze: var(--light-bronze);
  --color-dark-bronze: var(--dark-bronze);
  --color-transparent-bronze: var(--transparent-bronze);

  --color-light-blue: var(--light-blue);
  --color-transparent-blue: var(--transparent-blue);
  --color-medium-blue: var(--medium-blue);
  --color-shadow-blue: var(--shadow-blue);
  --color-dark-blue: var(--dark-blue);

  --color-light-success: var(--light-success);
  --color-dark-success: var(--dark-success);
  --color-shadow-success: var(--shadow-success);
  --color-transparent-success: var(--transparent-success);
  --color-success: var(--success);

  --color-light-error: var(--light-error);
  --color-error: var(--error);
  --color-shadow-error: var(--shadow-error);
  --color-dark-error: var(--dark-error);
  --color-transparent-error: var(--transparent-error);
  --color-online-user: var(--online-user);

  --color-ranking: var(--ranking);
  --color-medium-ranking: var(--medium-ranking);
  --color-shadow-ranking: var(--shadow-ranking);
  --color-transparent-ranking: var(--transparent-ranking);

  --font-sans: var(--font-raleway);
}

/* Clases de utilidad */

/* Miscelaneo */
.glass-box-one {
  @apply p-8 border-2 bg-white/7 backdrop-blur-md border-light-gray rounded-xl;
}

.glass-box-two {
  @apply bg-white/7 backdrop-blur-md rounded-xl;
}

.custom-scrollbar {
  @apply [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar-track]:bg-black/30
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-light-gray;
}

/* Gradientes */
.bg-gradient-one {
  @apply bg-radial from-[var(--background-gradient-1)] from-0% via-[var(--background-gradient-2)] 
    via-[7%] to-[var(--background-gradient-3)] to-[63%];
}

.btn-gradient-one {
  @apply bg-linear-to-r from-[var(--btn-gradient-1)] from-5% to-[var(--btn-gradient-2)];
}

body {
  @apply text-foreground font-sans antialiased;
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes glow {
  100% {
    filter: drop-shadow(0 0 10px var(--color-ranking));
  }
  50% {
    filter: drop-shadow(0 0 14px var(--color-ranking));
  }
  0% {
    filter: drop-shadow(0 0 10px var(--color-ranking));
  }
}
